<div class="container">
    <div class="container bottom-0 pb-5">
        <div class="row">
            <div class="col-3">
                <small>@2017-2022</small>
            </div>
            <div class="col-3">
                <b>Features</b><br>
                <a href="#" style="text-decoration: none;color: black;">Cool stuff</a><br>
                <a href="#" style="text-decoration: none;color: black;">Random feature</a><br>
                <a href="#" style="text-decoration: none;color: black;">Team feature</a><br>
                <a href="#" style="text-decoration: none;color: black;">Stuff for developers</a>
            </div>
            <div class="col-3">
                <b>Resources</b><br>
                <a href="#" style="text-decoration: none;color: black;">Resource</a><br>
                <a href="#" style="text-decoration: none;color: black;">Resource name</a><br>
                <a href="#" style="text-decoration: none;color: black;">Another resource</a><br>
                <a href="#" style="text-decoration: none;color: black;">Final resource</a>
            </div>
            <div class="col-3">
                <b>About</b><br>
                <a href="#" style="text-decoration: none;color: black;">Team</a><br>
                <a href="#" style="text-decoration: none;color: black;">Locations</a><br>
                <a href="#" style="text-decoration: none;color: black;">Privacy</a><br>
                <a href="#" style="text-decoration: none;color: black;">Terms</a>
            </div>
        </div>
    </div>
</div>